@media screen and (min-width: 641px) and (max-width: 767px){

	.header-nav{
		display: none;
	}

	.header-logo img{
		width: 60%;
	}

	.slider{
		width: 15%;
	}

	.slide-title h3{
		font-size: 25px;
	}

	.nav-item{
		margin-right: 10px;
	}
}